@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    height: 70px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.topleft {
    width: 50%;
    height: 80vh;
}

.topright {
    width: 50%;
    height: 80vh;
}

.section-1 {
    height: 80vh;
}

.section-2 > h1 {
    font-size: 36px;
}

.section-2 > p {
    padding: 0 160px;
}

.box {
    margin: 12px 24px;
    text-align: center;
    border: 2px solid orange;
    padding: 32px 56px;
    border-radius: 12px;
}

.box li {
    list-style: none;
}

.box ul {
    margin: 8px 0px;
}

footer {
    padding: 24px;
    text-align: center;
}

