:root {
    --main-primary-color : rgb(255, 142, 13);
}

.min-h-screen {
    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.font-bold {
    font-weight: bold;
}

.my-1 {
    margin-top: 8px;
    margin-bottom: 8px;
}   

.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}

.text-blue {
    color: var(--main-primary-color)
}

.btn {
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    background-color: var(--main-primary-color);
    cursor: pointer;
}